<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p {
    margin: 0;
  }

  body {
    margin-top: 60px;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #5494d4;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  #inicio {
    width: 100%;
    height: 250px;
    background-color: rgb(147, 133, 245);
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/img/logo.png" />
  <span>Tecnologías Web</span>
  <div class="spacer"></div>
</div>

<body>
  <div id="inicio">
    <div class="container">
      <div class="align-items-center">
        <h1 class="text-center">Tecnología Web</h1>
      </div>
      <div class="form-row justify-content-center mt-4">
        <button class="btn btn-warning">
          <h4>Comenzar</h4>
        </button>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-start">
      <div class="col-9">
        <intro-materia></intro-materia>
      </div>
      <div class="col-3">
        <info-materia></info-materia>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <h2 class="text-center">Contenidos de la materia</h2>
    <div class="row justify-content-start">
      <div class="col-1">
      </div>
      <div class="col-10">
        <contenido-materia></contenido-materia>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2>Habilidades que obtendrá al finalizar el curso</h2>
    <competencia-materia></competencia-materia>
  </div>

  <div class="container mt-3">
    <h2>Contactos</h2>        
    <contactos-materia></contactos-materia>
  </div>

  <footer class="page-footer font-small bg-secondary">
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <p>Universidad Católica Boliviana "San Pablo"</p>
    </div>
  </footer>

</body>



<router-outlet></router-outlet>