<div class="row mt-3">
    <div class="col-lg-4">
        <img class="mx-auto d-block" src="../../assets/img/ubicacion.png">
        <h2 class="text-center">Ubicación</h2>
        <p class="text-center">Av. 14 de Septiembre Nº 4807 esq. calle 2 Obrajes</p>
    </div>
    <div class="col-lg-4">
        <img class="mx-auto d-block" src="../../assets/img/telefono.png">
        <h2 class="text-center">Teléfono</h2>
        <p class="text-center">+ 591 (2) 2782222</p>
    </div>
    <div class="col-lg-4">
        <img class="mx-auto d-block" src="../../assets/img/mail.png">
        <h2 class="text-center">Email</h2>
        <p class="text-center">ucb.lpz@ucb.edu.bo</p>
    </div>
</div>