<div class="card-group">
  <div class="card justify-content-center">
    <img src="../../assets/img/reloj.png" class="card-img-top mx-auto d-block mt-3" alt="Reloj Carga Horaria">
    <div class="card-body">
        <h5 class="card-title text-center">Carga Horaria</h5>
        <p class="card-text class center text-center">100 min. - 2 días a la semana</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card justify-content-center">
    <img src="../../assets/img/costo.png" class="card-img-top mx-auto d-block mt-3" alt="Reloj Carga Horaria">
    <div class="card-body">
        <h5 class="card-title text-center">Créditos</h5>
        <p class="card-text class center  text-center">6 Créditos - Teoría y Laboratorio</p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card justify-content-center">
    <img src="../../assets/img/req.png" class="card-img-top mx-auto d-block mt-3" alt="Reloj Carga Horaria">
    <div class="card-body">
        <h5 class="card-title text-center">Prerrequisitos
        </h5>
        <p class="card-text class center  text-center">Introducción a la programación</p>
    </div>
  </div>
</div>