
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="table-info">
                <th scope="col"></th>
                <th scope="col">Módulo</th>
                <th scope="col">Contenidos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><h1>1</h1></td>
                <td>Introducción a la Tecnología WEB</td>
                <td>
                    <ul>
                        <li>Conceptos de Tecnología, TIC, NTIC, Evolución de las WEB, diferencia entre página, portal y sistema WEB.</li>
                        <li>Conceptos de E_Commerce, E_Business, E_learning, BI.</li>
                        <li>Conceptos de ERP, CRM, SCM, KM.</li>
                        <li>Concepto Protocolo HTTP, Dominio, Servidor web, Servidor local, Servidor Cloud.</li>
                        <li>Modelo MVC.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td scope="row"><h1>2</h1></td>
                <td>Solución tecnológica WEB</td>
                <td>
                    <ul>
                        <li>Fundamentos JavaScript, Github, BitBucket.</li>
                        <li>Conceptos de SOA, SaaS, Web Services.</li>
                        <li>Concepto y ejemplos de DOM.</li>
                        <li>Concepto y ejemplos de DHTML.</li>
                        <li>Vue, Concepto FrontEnd, BackEnd.</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td scope="row"><h1>3</h1></td>
                <td>CMS y FRAMEWORK</td>
                <td>
                    <ul>
                        <li>Concepto CMS, Módulo, Template, PlugIn.</li>
                        <li>Concepto FRAMEWORK.</li>
                        <li>Fundamentos Angular.</li>
                        <li>Componentes Angular.</li>
                        <li>Programación Reactiva.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
  </div>