<div class="row mt-4">
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="../../assets/img/dim1.jpg" alt="Generic placeholder image">
        <h2 class="text-center">Dimensión 1</h2>
        <p class="text-center">Comprende los conceptos fundamentales de la tecnología web.
            Entiende los requerimientos de casos planteados como base para una solución web.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="../../assets/img/dim2.jpg" alt="Generic placeholder image">
        <h2 class="text-center">Dimensión 2</h2>
        <p class="text-center">Diseña y desarrolla una solución tecnológica de acuerdo a los requerimientos de los casos reales planteados.
            Entiende y usa las herramientas tecnológicas necesarias para llevar a cabo su proyecto.
        </p>
    </div>
    <div class="col-lg-4">
        <img class="rounded-circle mx-auto d-block" src="../../assets/img/dim3.jpg" alt="Generic placeholder image">
        <h2 class="text-center">Dimensión 3</h2>
        <p class="text-center">Comprende y usa correctamente las herramientas tecnológicas que van relacionadas con los conceptos
            tecnológicos y los requerimientos establecidos.</p>
    </div>
</div>