<div class="row">
    <div class="col-md-4">
        <img src="../../assets/img/1.png" class="img-fluid">
    </div>
    <div class="col-md-8">
        <h3>Introducción: </h3>
        <p>En la actualidad toda institución requiere interactuar de menor a mayor manera con las nuevas tecnologías de
            información y comunicación siendo el uso de las tecnologías online una herramienta primordial para
            incorporar a la institución en el nuevo enfoque de mercado laboral y competitividad empresarial. El buen
            manejo de las tecnologías online proporciona una ventaja competitiva a los profesionales e instituciones que
            hacen uso efectivo de estas tecnologías.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>Requisitos de la materia: </h3>
        <p>No es necesario que los alumnos tengan aprobadas asignaturas, materias o módulos previos como requisito
            indispensable para cursar este
            módulo. No obstante se recomienda la superación de los contenidos y adquisición de competencias de las
            materias de formación básica y de
            rama.</p>
    </div>
    <div class="col-md-4">
        <img src="../../assets/img/2.jpg" class="img-fluid">
    </div>
</div>